/**
 * Accessibility
 * @group css.base.accessibility
 */

// Accessibility Links
.acc-links {
    @include z-index(acc-links);
    top:20px;
    left: 20px;
    position: absolute;
    list-style-type: none;

    a {
        @include font(22, 26);
        color:#fff;
        background:#000;
        padding:10px;
    }
}


// No Javascript/Browser Message
.no-browser,
.no-script {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 50px 20px;
    text-align: center;
    position:relative;
    z-index: 999;

    p,
    p a {
        @include font(22, 28);
    }
}
