/**
 * This is for the remaining base/globally applied styles that cannot be defined in the other Base folder stylesheets (e.g. colours, fonts etc.)
 *
 * @group css.base.base
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/base";
 *
 */

/**
 * Custom Resets
 */
 p, pre, blockquote, a, ul, ol, li, h1, h2, h3, h4, h5, h6, figure {
    margin:0;
    padding:0;
}

/**
 * Global Styles
 */
body {
    background: #fff;
}

img {
    // Responsive images
    max-width: 100%;
    height: auto;
    display:block;
}

iframe {
    border: 0;
    max-width: 100%;
}


/**
* Fix the box sizing
*/

*,
*:after,
*:before {
    box-sizing: border-box;
}


/**
* Accessibility Links
*/

.acc-links {
    top:80px;
    left: 10px;
    position: absolute;
    z-index: 500;
}

.acc-links li a {
	
    opacity: 0.7;
    color:#fff;
    background:#000;
    padding:10px;
    @include font(26, 30);
}


/**
* No Javascript/Browser Message
*/

.no-browser,
.no-script {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 50px 20px;
    text-align: center;
    position:relative;
    z-index: 999;

    p {
        @include font(22, 28);
    }
}
