/**
 * Buttons
 * @group css.base.buttons
 */

.btn {
    transition: color $transition-hover-speed $transition-hover-easing, background $transition-hover-speed $transition-hover-easing, border $transition-hover-speed $transition-hover-easing;
    border-radius: 5px;
    border: none;

}

// Extension of the base btn class
.btn--example {
    background: #fff;
    padding: 5px 10px;
}
