/**
 * @group css.base.buttons
 *
 * Here we define the UI styles
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/_buttons.scss";
 *
 */

/* Buttons */

.btn { 
	cursor: pointer;
}