/**
 * Colours
 * Here we define the colour variables that are used throughout the other stylesheets
 * For Colour names check out {@link http://chir.ag/projects/name-that-color/ Name That Colour}
 * Theme colours are defined via CMS (index/theme-css.html)
 * @group css.base.colours
 */


// ------------------------------------------------
// Application Colours
// ------------------------------------------------

/**
 * @group css.base.colours
 * @param {color} $color-mine-shaft
 */
$color-mine-shaft: #333;


// ------------------------------------------------
// Social Colours
// ------------------------------------------------

/**
 * @group css.base.colours
 * @param {color} $color-social-facebook
 */
$color-social-facebook : #3b5998;

/**
 * @group css.base.colours
 * @param {color} $color-social-google
 */
$color-social-google: #dd4b39;

/**
 * @group css.base.colours
 * @param {color} $color-social-instagram
 */
$color-social-instagram : #517fa4;

/**
 * @group css.base.colours
 * @param {color} $color-social-linkedin
 */
$color-social-linkedin : #007bb6;

/**
 * @group css.base.colours
 * @param {color} $color-social-twitter
 */
$color-social-twitter : #00aced;

/**
 * @group css.base.colours
 * @param {color} $color-social-youtube
 */
$color-social-youtube : #bb0000;

// Define a social colour array
$colors-social: (
    facebook:     $color-social-facebook,
    google:       $color-social-google,
    instagram:    $color-social-instagram,
    linkedin:     $color-social-linkedin,
    twitter:      $color-social-twitter,
    youtube:      $color-social-youtube
);

// Loop through and generate social colour classes
@each $social-network, $color-social in $colors-social {
    .color-social--#{$social-network} {
        background: $color-social;
    }

    .color-social--#{$social-network}:hover {
        background: lighten($color-social, 10%);
    }
}

// Default Colour
.color-social {
    color: #fff;
}




// ------------------------------------------------
// State Indicator Colours
// ------------------------------------------------

/**
 * @group css.base.colours
 * @param {color} $color-form-error
 *
 */
$color-form-error: #ed1c24;

/**
 * @group css.base.colours
 * @param {color} $color-form-warning
 *
 */
$color-form-warning: #f0ad4e;

/**
 * @group css.base.colours
 * @param {color} $color-form-success
 *
 */
$color-form-success: #00A651;

.color--success {
    color: $color-form-success;
}

.color--warning {
    color: $color-form-warning;
}

.color--error {
    color: $color-form-error;
}



// ------------------------------------------------
// Primary Font Colour
// ------------------------------------------------
body {
    color: #000;
}
