/**
 * Fonts
 * @group css.base.fonts
 */


// ------------------------------------------------
// Font Variables
// ------------------------------------------------

/**
 * @group css.base.fonts
 * @param {string} $font-arial
 */
$font-arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;



// ------------------------------------------------
// Global Font Styles
// ------------------------------------------------

// Font Sizing
html {
    font-size: 62.5%;
}

body {
    font-family: $font-arial;
}

// Heading Styles
h1 {
    @include font(40, 45, $font-arial);
    font-weight: 300;
}

h2,
h3 {
    @include font(24, 28, $font-arial);
}

p,
li,
a {
    @include font(14, 18);

    @include mq($from: tablet) {
        @include font(15, 19);
    }

    @include mq($from: smalldesktop) {
        @include font(16, 20);
    }
}

a {
    @include font(14, 18);
    transition: color $transition-hover-speed $transition-hover-easing;
    text-decoration: none;
}

// Better font rendering
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input,
label,
textarea,
time,
button,
address {
    @include anti-alias-text;
}
