/**
 * Helpers
 * @group css.base.helpers
 */

// Clearfix
.cf {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


// Hidden - Hide from both screenreaders and browsers:
.hdn {
    display: none;
    visibility: hidden;
}


// Visually Hidden
.vhdn {
    @include vhdn;
}

.vhdn-off {
    @include vhdn-off;
}


// Visually Hidden on Focus - Extends the .vhdn class to allow the element to be focusable
.vhdn.focus:active,
.vhdn.focus:focus {
	@include vhdn-off;
}


// Invisible - Hide visually and from screen readers, but maintain layout
.invs {
    visibility: hidden;
}


// Aspect Ratio Wrapper
.aspect-wrap {
    // Wrapper
    position: relative;
    height: 0;

    &.ratio-16-9 {
        padding-bottom: percentage(9/16);
    }

    &.ratio-4-3 {
        padding-bottom: percentage(3/4);
    }

    &.ratio-1-1 {
        padding-bottom: percentage(1/1);
    }

    // Content
    > * {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}


// Table Alignment
.t-r {
    display: table;
    height: 100%;
}

.t-c {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: left;
}


// Tint Overlay
.tint-overlay {
    position: relative;
    overflow: hidden;
    display: block;

    &::before {
        -webkit-backface-visibility: hidden;
        opacity: 0.2;
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
