/**
 * @group css.modules.pages.page-home
 *
 * Use this for header-primary styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/pages/
 *
 */

.page-home {
	svg {
		transition: fill $transition-hover-speed $transition-hover-easing;
		width: 30px;
		height: 30px;
		display: inline-block;

		&:hover {
			fill: blue;
			cursor: pointer;
		}
	}
}