/**
 * @group css.modules.widgets.widget-example
 *
 *
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/widgets/widget-example
 *
 */

.widget-example {
    .btn--example {
        margin-bottom: 30px;
    }

    &__list {
        padding-left: 20px;

        li {
            margin-bottom: 10px;
        }
    }
}
