/**
 * @group css.modules.components.headers.header-primary.nav-primary
 *
 * Use this for nav styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/components/headers/header-primary/nav-primary/nav-primary";
 *
 */

 .nav-primary {

 }

 	.nav-primary__nav {
 		list-style-type: none;

 		li {
 			float: left;
 			margin-right: 20px;
 		}
 	}