/**
 * @group css.modules.pages.page.page
 *
 * Define Common Page Styles here
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/pages/page/page";
 *
 */

.page {
	padding: 30px;

	h1 {
		margin-bottom: 20px;
	}

	h2 {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 10px;

		@include mq($from: tablet) {
			margin-bottom: 20px;
		}

		@include mq($from: smalldesktop) {
			margin-bottom: 30px;
		}

		@include mq($from: desktop) {
			margin-bottom: 40px;
		}
	}

	&__section-padding {
		margin-bottom: 10px;

		@include mq($from: tablet) {
			margin-bottom: 20px;
		}

		@include mq($from: smalldesktop) {
			margin-bottom: 30px;
		}

		@include mq($from: desktop) {
			margin-bottom: 40px;
		}
	}
}