/**
 * @group css.styles
 *
 * This is the core/primary stylesheet for the whole site, all other stylesheets are pulled in by this one.
 * It is mobile first so we declare all our base styles first add more through media queries
 *
 */

// ------------------------------------------------
// Common Styles
// ------------------------------------------------

// Import Mixins
@import "__mixins/mq"; // Media Queries
@import "__mixins/rg"; // Responsive Grids
@import "__mixins/mixins"; // Useful Mixins

// Import Base Styles
@import "__base/normalize";
@import "__base/variables";
@import "__base/z-index";
@import "__base/helpers";
@import "__base/layout";
@import "__base/base";
@import "__base/accessibility";
@import "__base/colours";
@import "__base/fonts";
@import "__base/buttons";
@import "__base/form";
@import "__base/animations";
@import "__base/loaders";


// ------------------------------------------------
// Module Styles
// ------------------------------------------------

// Component Styles
@import "../../modules/components/common/header-primary/header-primary";
@import "../../modules/components/common/header-primary/nav-primary/nav-primary";
@import "../../modules/components/common/footer-primary/footer-primary";


// ------------------------------------------------
// Page Styles
// ------------------------------------------------

// Common Page Modules
@import "../../modules/pages/page/page";
@import "../../modules/pages/page-home/page-home";


// ------------------------------------------------
// Widget Styles
// ------------------------------------------------

@import "../../modules/widgets/widgets";
@import "../../modules/widgets/widget-example/widget-example";