/**
 * @group css.modules.pages.page-home
 *
 * Use this for header-primary styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/pages/
 *
 */

.page-about {

}